@import "https://fonts.google.com/specimen/Sonsie+One?preview.text=Guess%20the%20Anime%20Character&preview.text_type=custom&slant=6#standard-styles";
body {
    margin: 0px;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
    background-color: #CDF0EA;
    font-size: larger;
}
body.dark {
    background-color: black;
    color: white;
}

h1 {
    color: white;
    background-color: lightpink;
}
h2 {
    color: #FFAAA7;
}
h3 {
    color: #FFAAA7;
}
button{
    color: pink;
    border: pink;
    size: 4px;
}

button:hover {
    cursor: pointer;
    transform: translate(-6px);
    font-size: large;
}
.characters {
    border: pink;
}
.row {
    width: 100%;
    height: 40px;
    text-align: center;
}
.column {
    width: 600px;
    margin: 0px auto;
}
#answer {
    color: lightpink;
    font-size: x-large;
    
}
.hide {
    display: none;
}

